/* FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');


/*GENERAL SETTINGS*/

body {
    font-family: 'Roboto', 'Arial';
    font-size: 16px;
    text-align: center;
}

/*FORM INPUT STYLING*/

input, select {
    border-radius: 1rem;
    height: 1.5rem;
    padding: 0 1.5rem;
}

button {
    border: 0.1rem solid;
    border-radius: 1rem;
    background-color: green;
    color: white;
    height: 1.9rem;
    margin-left: 1rem;
}

/*HTML WRAPPER STYLING*/

#expense-screen {
    height: 20rem;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.expense-table-container {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
}

/*TABLE STYLING*/

table {
    width: 60rem;
    margin-top: 2rem;
    background-color: #7e7e7e;
    color: white;
}

thead {
    background-color: rgb(32, 24, 14);
    font-size: 0.8rem;
    font-weight: 100;
}

th, td {
    border: 0.05rem solid #606060;
    padding: 0.5rem 2rem;
}

tbody > tr:nth-of-type(even) {
    background-color: rgb(43, 43, 43);
}

tfoot {
    background-color: white;
    color: black;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
}

tfoot td {
    padding: 1.5rem 0;
}

#delete-button {
    width: 1.5rem;
    height: 1.5rem;
}

/* MEDIA QUERIES */
